body{
    background-color: #5ffea5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;  
}

.container{
    width: 80%;
    background-color: white;
    margin: auto;
}


